.sections__index__title {
  font-size: 12px;
  margin-top: 2px;
  opacity: 0.4;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 0.2px;

  @media (max-width: 1280px) {
    font-size: 10px;
  }
}

.sections__index__item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0.8;
  transition: 200ms ease all;
  transition-property: color, opacity;
  text-decoration: none;
  color: var(--color-text);

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary);
  }

  @media (max-width: 1280px) {
    font-size: 12px;
  }
}

.method {
  font-family: 'Mono';
  padding: 4px 8px 4px 8px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #000;
  color: #fff;
}
