.block {
  padding: 48px 48px 88px 16px;
  width: 100%;
  max-width: 832px;

  img {
    width: 100%;
    max-width: 768px;
  }

  h1 {
    display: block;
    font-size: 1.15rem;
    font-weight: 600;
  }

  h2 {
    display: block;
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 24px;
  }

  h3 {
    display: block;
    font-size: 1.15rem;
    font-weight: 600;
  }

  h4 {
    display: block;
    font-size: 1rem;
    font-weight: 600;
  }

  h5 {
    display: block;
    font-size: 1rem;
    font-weight: 600;
  }

  h6 {
    display: block;
    font-size: 1rem;
    font-weight: 600;
  }

  blockquote {
    padding-left: 24px;
    border-left: 2px var(--color-border) solid;
    font-style: italic;
  }

  p {
    display: block;
    margin-top: 16px;
    font-size: 1rem;
    line-height: 1.55;
    color: rgba(0, 0, 0, 0.8);

    a {
      color: var(--color-primary);
      font-weight: 600;
      transition: 200ms ease all;
      text-decoration: none;

      &:visited {
        color: var(--color-primary);
      }

      &:hover {
        color: rgba(0, 22, 255, 1);
      }
    }
  }

  li {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);

    a {
      color: rgba(0, 2, 255, 1);
      font-weight: 600;
      transition: 200ms ease all;
      text-decoration: none;

      &:visited {
        color: rgba(0, 2, 255, 1);
      }

      &:hover {
        color: rgba(0, 22, 255, 1);
      }
    }
  }

  ul {
    margin-top: 16px;
    display: block;
    padding-left: 24px;
  }

  a {
    color: rgba(0, 2, 255, 1);
    font-weight: 600;
    transition: 200ms ease all;
    text-decoration: none;

    &:visited {
      color: rgba(0, 2, 255, 1);
    }

    &:hover {
      color: rgba(0, 22, 255, 1);
    }
  }

  pre {
    padding: 16px;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    margin-top: 16px;
    display: block;
    white-space: pre-wrap;
    width: 100%;
    max-width: 568px;
    background: #f4f4f4;
  }

  code {
    display: block;
    white-space: pre-wrap;
    font-family: "Mono";
    width: 100%;
  }
}
